.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid wheat;
    /* margin-top: 120px; */
    color: wheat;
    border-radius: 25px;
    width: 300px;

}

.likesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: wheat;
}

.likeCard {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 10px;
    background-color: slategray;
    color: white;
    border: 1px solid wheat;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 45px ;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    margin-bottom: 80px;
    cursor: pointer;
    /* margin-top: 100px; */
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.backButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.backButton:hover {
    background-color: #0056b3;
}

.button {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: darkgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.unfollowbutton {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: darkred;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.all {
    display: "flex";
    flex-direction: row;
    justify-content: space-between;
    margin-top: 220px
}

.blogcard {
    min-width: 40%;
    max-width: 90%;
    margin-left: 35%;
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        border: 1px solid wheat;
        /* margin-top: 120px; */
        color: wheat;
        border-radius: 25px;
        width: 78%;
        display: flex;
        flex-direction: column;
        background-color: darkslategray;
        margin-bottom: 120px;
    }

    .likesContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: wheat;
    }

    .likeCard {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: black;
        color: white;
        border: 1px solid wheat;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 50px;
        font-size: small;
        background-color: darkcyan;
    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
        margin-bottom: 70px;
        cursor: pointer;
        /* margin-top: 100px; */
    }

    .name {
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }

    .backButton {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1em;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .backButton:hover {
        background-color: #0056b3;
    }

    .button {
        padding: 5px 10px;
        font-size: small;
        color: white;
        background-color: darkgreen;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 8%;
    }

    .unfollowbutton {
        padding: 5px 10px;
        font-size: 14px;
        color: white;
        background-color: darkred;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 5px;
    }

    .all {
        display: "flex";
        flex-direction: column;
        /* justify-content: space-between; */
        /* margin-top: 220px */
    }

    .blogcard {
        width: 90%;
        margin-left: 5%;
        font-size: smaller;
    }
}