.navbar {

  background-color: #333;
  padding: 10px 20px;
  width: 98%;
  position: fixed;
  top: 0;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}

.brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navButtons {
  display: flex;
  margin-right: 10px;
}

.navButton {
  color: white;
  background: none;
  border: none;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}

.navButton:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  .navbar {
    background-color: #333;
    padding: 10px 20px;
    width: 98%;
    position: fixed;
    top: 0;
  }
  
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
  }
  
  .brand {
    color: wheat;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
  }
  
  .navButtons {
    display: flex;
    margin-right: 15px;
  }
  
  .navButton {
    color: white;
    background: none;
    border: none;
    font-size: small;
    margin-left: 0px;
    margin-right: 1px;
    cursor: pointer;
  }
  
  .navButton:hover {
    text-decoration: underline;
  }

}