.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.friendsContainer {
    color: wheat;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 120px;
}

.friendCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: darkslategray;
    color: wheat;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.friendCard:hover {
    transform: translateY(-5px);
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    cursor: pointer;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    color: wheat;
    margin-bottom: 10px;
    cursor: pointer;
}

.followButton,
.unfollowButton {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.followButton {
    background-color: #28a745;
    color: #fff;
}

.followButton:hover {
    background-color: #218838;
}

.unfollowButton {
    background-color: #dc3545;
    color: #fff;
}

.unfollowButton:hover {
    background-color: #c82333;
}